<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Graphs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'farbtastic/farbtastic.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/graphs.css' %}">
</head>
<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Создание графика</h5>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <button type="button" id="add_linear" class="list-group-item list-group-item-action">Линейная диаграмма</button>
                    <button type="button" id="add_bar" class="list-group-item list-group-item-action">Столбчатая диаграмма</button>
                    <button type="button" id="add_polararea" class="list-group-item list-group-item-action">Полярная диаграмма</button>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <div id="colorPickerBlock">
        <div id="colorpicker" class="hor-center"></div>
        <input id="noColor" type="button" class="hor-center" value="Нет цвета">
        <input class="hor-center" type="text" id="color" name="color" value="#123456">
    </div>
    <div class="graphs hor-center">

        <!--############ Dataset settings ############-->
            <!--############ Scatter ############-->
        <template id="setGraphBlockScatter">
            <div class="graphSet addLine">
                <div name="header" class="headerSet flatten">
                    <div name="graphColor" class="square"></div>
                    <p class="graphName">Имя</p>
                    <p class="arrow">></p>
                </div>
                <div class="datasetSettings">
                    <div class="flatten">
                        <div name="borderColor"class="square"></div>
                        <p>Цвет контура</p>
                    </div>
                    <div class="flatten">
                        <div name="backgroundColor" class="square"></div>
                        <p>Заливка</p>
                    </div>
                    <div name="devices" class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="iconSet" src="{% static 'svg/device.svg' %}">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <div name="parametersX" class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p>X:</p>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <div name="parametersY" class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p>Y:</p>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <div name="calculation" class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!-- <p> :</p> -->
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <button type="button" name="deleteLittleGraph" class="btn btn-danger btn-sm">Удалить</button>
                </div>
            </div>
        </template>
        
            <!--############ Bar ############-->
        <template id="setGraphBlockBar">
            <div class="graphSet addLine">
                <div name="header" class="headerSet flatten">
                    <div name="graphColor" class="square"></div>
                    <p class="graphName">Имя</p>
                    <p class="arrow">></p>
                </div>
                <div class="datasetSettings">
                    <div class="flatten">
                        <div name="borderColor"class="square"></div>
                        <p>Цвет контура</p>
                    </div>
                    <div class="flatten">
                        <div name="backgroundColor" class="square"></div>
                        <p>Заливка</p>
                    </div>
                    <div name="devices" class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="iconSet" src="{% static 'svg/device.svg' %}">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <div name="parametersY" class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p>Y:</p>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <button type="button" name="deleteLittleGraph" class="btn btn-danger btn-sm">Удалить</button>
                </div>
            </div>
        </template>

        <!--############ SetBar ############-->
            <!--############ Scatter ############-->
        <template id="setBarScatter">
            <div class="settingsGraphPanel">
                <input class="bt" type="button" value="Сбросить масштаб" name="reser_zoom">
                <hr>
                <div name="add_graph" class="graphSet addLine">
                    <img class="center" draggable="false" src="{% static 'image/plus.png' %}">
                </div>
            </div>
        </template>

            <!--############ Bar ############-->
        <template id="setBarBar">
            <div class="settingsGraphPanel">
                <div name="parametersX" class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p>X:</p>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
                <div class="inputText">
                    <p>Минимум по Y</p>
                    <input name="min_value" type="number" value="0">
                </div>
                <hr>
                <div class="setRange">
                    <p>Диапазон</p>
                    <div class="doubleRange">
                        <div class="range"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="inputText">
                        <p>От: </p>
                        <input name="from_value" type="datetime-local">
                    </div>
                    <div class="inputText">
                        <p>До: </p>
                        <input name="to_value" type="datetime-local">
                    </div>
                </div>
                <div name="calc" class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p></p>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
                <hr>
                <div name="add_graph" class="graphSet addLine">
                    <img class="center" draggable="false" src="{% static 'image/plus.png' %}">
                </div>
            </div>
        </template>

            <!--############ SetBar ############-->
        <template id="setBarPolarArea">
            <div class="settingsGraphPanel">
                <div name="parametersX" class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p>X:</p>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
                <hr>
                <div class="setRange">
                    <p>Диапазон</p>
                    <div class="doubleRange">
                        <div class="range"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="inputText">
                        <p>От: </p>
                        <input name="from_value" type="datetime-local">
                    </div>
                    <div class="inputText">
                        <p>До: </p>
                        <input name="to_value" type="datetime-local">
                    </div>
                </div>
                <div name="calc" class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p></p>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
                <hr>
                <div name="add_graph" class="graphSet addLine">
                    <img class="center" draggable="false" src="{% static 'image/plus.png' %}">
                </div>
            </div>
        </template>

        <!--############ Graph ############-->
        <template id="graphBlock">
        <div class="grBar">
            <img class="ellipsis" src="{% static 'svg/morevertical_110934.svg' %}">
            <div class="menu">
                <div>
                    <p>Название графика</p>
                    <input name="change_name" value="Название">
                </div>
                <p name="delete">Удалить</p>
            </div>
            <h1>Название</h1>
            <div class="gr flatten">
                <div class="graph">
                    <canvas class="Chart"></canvas>
                </div>
            </div>
        </div>
        </template>
        <div class="addGraph" id="addGraph" data-toggle="modal" data-target="#exampleModal">
            <img class="center" draggable="false" src="{% static 'image/plus.png' %}">
        </div>
    </div>
</body>
<script type="text/javascript">
    var data_parameters = {{name_parameters|safe}}
    for (var dev in data_parameters) {
        var par = data_parameters[dev]
        par.unshift('Date')
        data_parameters[dev] = {}
        for (var i = 0; i < par.length; i++) {
            data_parameters[dev][par[i]] = [[], []]
        }
    }
</script>
<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
<script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/range.js' %}"></script>
<script src="{% static 'js/defaultSet.js' %}"></script>
<script src="{% static 'farbtastic/farbtastic.js' %}"></script>
<script src="{% static 'js/parsedata.js' %}"></script>
<script src="{% static 'js/graphs.js' %}"></script>
<script src="{% static 'js/scene.js' %}"></script>
</html>