<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Graphs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'farbtastic/farbtastic.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/graphs.css' %}">
</head>
<body>
    <div id="colorPickerBlock">
        <div id="colorpicker" class="hor-center"></div>
        <input id="noColor" type="button" class="hor-center" value="Нет цвета">
        <input class="hor-center" type="text" id="color" name="color" value="#123456">
    </div>
    <div class="graphs hor-center">

        <!--############ Dataset settings ############-->
        <template id="setGraphBlock">
            <div class="graphSet addLine">
                <div name="header" class="headerSet flatten">
                    <div name="graphColor" class="square"></div>
                    <p class="graphName">Имя</p>
                    <p class="arrow">></p>
                </div>
                <div class="datasetSettings">
                    <div class="flatten">
                        <div name="borderColor"class="square"></div>
                        <p>Цвет контура</p>
                    </div>
                    <div class="flatten">
                        <div name="backgroundColor" class="square"></div>
                        <p>Заливка</p>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                      </div>
                    <div name="devices" class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="iconSet" src="{% static 'svg/device.svg' %}">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <div name="parametersX" class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p>X:</p>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                    <div name="parametersY" class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p>Y:</p>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <!--############ Graph ############-->
        <template id="graphBlock">
        <div class="grBar">
            <h1>Название</h1>
            <div class="flatten">
                <div class="graph">
                    <canvas class="Chart"></canvas>
                </div>
                <div class="settingsGraphPanel">
                    <div class="setRange">
                        <p>Диапазон</p>
                        <div class="doubleRange">
                            <div class="range"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="graphSet addLine">
                        <img class="center" draggable="false" src="{% static 'image/plus.png' %}">
                    </div>
                </div>
            </div>
        </div>
        </template>
        <div class="addGraph" id="addGraph">
            <img class="center" draggable="false" src="{% static 'image/plus.png' %}">
        </div>
    </div>
</body>
<script type="text/javascript">
    var data_parameters = {{name_parameters|safe}}
    for (var dev in data_parameters) {
        var par = data_parameters[dev]
        data_parameters[dev] = {}
        for (var i = 0; i < par.length; i++) {
            data_parameters[dev][par[i]] = [[], []]
        }
    }
</script>
<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'farbtastic/farbtastic.js' %}"></script>
<script src="{% static 'js/parsedata.js' %}"></script>
<script src="{% static 'js/queue.js' %}"></script>
<script src="{% static 'js/graphs.js' %}"></script>
<script src="{% static 'js/scene.js' %}"></script>
</html>