.graphs {
    padding: 25px 25px;
    width: 1100px;
    min-width: 800px;
    background-color: #fff;
}

.graph {
    width: 75%;
    margin-right: 15px;
}

.graphs .settingsGraphPanel, .graphs div.addGraph, .menu {
    border-radius: 5px;
    border: solid 1px #f1f1f1;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.addGraph {
    width: 100%;
    height: 40px;
    transition-duration: 0.3s;
}

.graphs div.addGraph:hover {
    background-color: #a1c4ff;
    transform: scale(1.01);
}

.addGraph img {
    width: 25px;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
}

.grBar {
    margin-bottom: 30px;
}

/*@keyframes pos-right {
    0% {
        right: 50%;
    }

    100% {
        right: 0;
    }
}*/

#colorPickerBlock {
    position: absolute;
    width: 195px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #63c9cc;
    display: none;
    z-index: 100000;
}

div#colorpicker {
    width: 195px;
}

div#addGraph {
    overflow-x: initial;
    overflow-y: initial;
}

/* SETTINGS */


.settingsGraphPanel {
    height: inherit;
    min-width: 100px;
    flex: auto;
    animation-duration: 1s; 
    font-size: 16px;
    height: 450px;
    /* animation-name: pos-right; */
}

.square {
    width: 15px;
    height: 15px;
    margin: 4px 10px 0 10px;
    border: solid 2px;
}

.graphSet {
    height: 25px;
    transition-duration: 0.12s;
    margin-bottom: 10px;
    border: solid 1px #b7b7b7;
    border-radius: 5px;
    overflow: hidden;
}

.setRange > p {
    margin: 0;
}

.setRange > input[type="range"] {
    width: 100%;
}

.arrow {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    line-height: 20px;
    text-align: center;
    margin-left: auto;
    cursor: default;
    font-weight: 400;
    font-family: inherit;
    font-size: 19px;
    height: 25px;
    width: 25px;
    transform: rotate(90deg);
}

.addLine {
    transition-duration: 0.1s;
}

.addLine img, .iconSet {
    width: 20px;
    height: 20px;
    top: 35%;
}

img.iconSet {
    position: absolute;
    bottom: 2px;
    left: 15px;
}

.dropdown-toggle > p {
    position: absolute;
}

.addLine:hover {
    transform: scale(1.04);
}

.datasetSettings > div {
    height: 25px;
}

.datasetSettings .square {
    border: solid 1px;
    cursor: pointer;
}

.arrow:hover {
    background-color: #2196F3;
}

p.graphName {
    margin-left: 10px;
}

.dropdown {
    padding: 0 10px;
    margin-bottom: 10px;
}

.settingsGraphPanel > .dropdown {
    padding: 0;
    margin: 0;
}

input#defaultCheck1 {
    position: relative;
    width: 15px;
    margin: 6px 5px 0 0;
}

.form-check {
    padding-left: 10px;
}

.dropdown-menu.show {
    max-height: 36vh;
    overflow-y: auto;
}

.inputText p {
    margin: 0;
}

button.btn.btn-danger {
    margin-left: 10px;
    margin-top: 20px;
    width: 50%;
}

img.ellipsis {
    position: absolute;
    width: 25px;
    right: 40px;
    display: none;
    cursor: pointer;
}

.grBar:hover img.ellipsis {
    display: block;
}

.menu {
    width: 300px;
    position: absolute;
    overflow-y: hidden;
    padding: 10px 0;
    right: 0px;
    display: none;
    z-index: 10000;
    background-color: #fff;
}

.menu > *:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.menu > p {
    padding: 0 10px;
    margin: 0;
}

.menu input {
    margin: 0;
}

.menu > div {
    margin-bottom: 10px;
    padding: 0 10px;
    padding-bottom: 10px;
}